---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.cdnurl }}/{{ page.header-img }}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
			{{ content }}
		</div>
	</div>
</div>
<hr>

<style>
    .links { padding: 10px; }
    .links li { font-size: 14px; }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="links col-lg-1 col-lg-offset-3 col-md-1 col-md-offset-3 col-xs-5 col-xs-offset-1">
            <h4>友情链接</h4>
            <ul class="list-unstyled">
                <li><a class="text-muted" href="https://www.flickr.com/photos/gzy19921010">Maple&Maple</a></li>
                <li><a class="text-muted" href="http://www.liaoxuefeng.com">廖雪峰的日志</a></li>
            </ul>
        </div>
        <div class="links col-lg-1 col-lg-offset-0 col-md-1 col-md-offset-0 col-xs-5 col-xs-offset-0">
            <h4>Mooc</h4>
            <ul class="list-unstyled">
                <li><a class="text-muted" href="http://www.coursera.org/">Coursera</a></li>
                <li><a class="text-muted" href="http://www.edx.org/">Edx</a></li>
                <li><a class="text-muted" href="http://mooc.guokr.com/">Mooc学院</a></li>
            </ul>
        </div>
        <div class="links col-lg-1 col-lg-offset-0 col-md-1 col-md-offset-0 col-xs-5 col-xs-offset-1">
            <h4>服务资源</h4>
            <ul class="list-unstyled">
                <li><a class="text-muted" href="http://sae.sina.com.cn/">SAE</a></li>
                <li><a class="text-muted" href="http://www.qiniu.com/">七牛云</a></li>
                <li><a class="text-muted" href="http://www.bootcdn.cn/">BootCDN</a></li>
                <li><a class="text-muted" href="https://gitcafe.com/">GitCafe</a></li>
            </ul>
        </div>
        <div class="links col-lg-1 col-lg-offset-0 col-md-1 col-md-offset-0 col-xs-5 col-xs-offset-0">
            <h4>社区</h4>
            <ul class="list-unstyled">
                <li><a class="text-muted" href="http://stackoverflow.com">StackOverflow</a></li>
                <li><a class="text-muted" href="http://www.oschina.net/">OSChina</a></li>
                <li><a class="text-muted" href="http://www.csdn.net/">CSDN</a></li>
            </ul>
        </div>
        <div class="links col-lg-1 col-lg-offset-0 col-md-1 col-md-offset-0 col-xs-5 col-xs-offset-1">
            <h4>资讯</h4>
            <ul class="list-unstyled">
                <li><a class="text-muted" href="http://ml.memect.com">机器学习日报</a></li>
                <li><a class="text-muted" href="http://www.guokr.com">果壳网</a></li>
                <li><a class="text-muted" href="http://www.36kr.com">36氪</a></li>
            </ul>
        </div>
        <div class="links col-lg-1 col-lg-offset-0 col-md-1 col-md-offset-0 col-xs-5 col-xs-offset-0">
            <h4>开发资源</h4>
            <ul class="list-unstyled">
                <li><a class="text-muted" href="https://pingplusplus.com/">PING++</a></li>
                <li><a class="text-muted" href="http://fir.im/">FIR.im</a></li>
                <li><a class="text-muted" href="http://easemob.com/">环信</a></li>
                <li><a class="text-muted" href="http://www.nowcoder.com/">牛客网</a></li>
            </ul>
        </div>
    </div>
</div>
<hr>
