---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.cdnurl }}/{{ page.header-img }}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
			{{ content }}
		</div>
	</div>
</div>
<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1 col-lg-offset-1 col-md-1 col-md-offset-1 col-xs-10 col-xs-offset-1">
            <h4>友情链接</h4>
            <ul class="list-unstyled">
                <li>
                    <a href="https://www.fickr.com/photos/gzy19921010">
                        <span class="text-muted">Maple&Maple</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-1 col-md-1 col-xs-10 col-xs-offset-1">
            <h4>Mooc</h4>
            <ul class="list-unstyled">
                <li>
                    <a href="http://www.coursera.org/"><span class="text-muted">Coursera</span></a>
                </li>
                <li>
                    <a href="http://www.edx.org/"><span class="text-muted">Edx</span></a>
                </li>
                <li>
                    <a href="http://mooc.guokr.com/"><span class="text-muted">Mooc学院</span></a>
                </li>
            </ul>
        </div>
        <div class="col-lg-1 col-md-1 col-xs-10 col-xs-offset-1">
            <h4>服务资源</h4>
            <ul class="list-unstyled">
                <li>
                    <a href="http://sae.sina.com.cn/"><span class="text-muted">SAE</span></a>
                </li>
                <li>
                    <a href="http://www.qiniu.com/"><span class="text-muted">七牛云</span></a>
                </li>
                <li>
                    <a href="http://www.bootcdn.cn/"><span class="text-muted">BootCDN</span></a>
                </li>
            </ul>
        </div>
        <div class="col-lg-1 col-md-1 col-xs-10 col-xs-offset-1">
            <h4>社区</h4>
            <ul class="list-unstyled">
                <li>
                    <a href="#"><span class="text-muted">xxx</span></a>
                </li>
            </ul>
        </div>
        <div class="col-lg-1 col-md-1 col-xs-10 col-xs-offset-1">
            <h4>资讯</h4>
            <ul class="list-unstyled">
                <li>
                    <a href="#"><span class="text-muted">xxx</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<hr>

<!--
<script src="{{ "/js/jquery.particleground.min.js " | prepend: site.baseurl }}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('#jq-particles').particleground({
            dotColor: '#ff0000',
            lineColor: '#ff0000',
            minSpeedX: 0.1,
            maxSpeedX: 0.7,
            minSpeedY: 0.1,
            maxSpeedY: 0.7,
            directionX: 'center',
            directionY: 'center'
        });
    });
</script>
-->
